{% extends 'base.html' %}
<!--page content -->
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}

<form class="enctype="multipart/form-data""class="row g-3 align-items-center h-100 mx-auto " method="post">
    <h1 class="text-center display-2">Custom Add Section</h1>
    {% csrf_token %}

    <div class="col-6">
        {{ form.title| as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.image | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.url | as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.start_date | as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.end_date | as_crispy_field }}
    </div>
     <div class="col-3">
        {{ form.description | as_crispy_field }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-lg class text-right">Next</button>
    </div>
</form>

{% endblock %}