{% extends 'base.html' %}
<!--page content -->
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}

<form class="row g-3 align-items-center h-100 mx-auto " method="post">
    <h1 class="text-center display-2">Personal Information</h1>
    {% csrf_token %}

    <div class="col-6">
        {{ form.title| as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.educational_institute | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.city | as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.country | as_crispy_field }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-lg class text-right">Next</button>
    </div>
</form>

{% endblock %}