{% extends 'base.html' %}
<!--page content -->
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<form enctype="multipart/form-data" class="row g-3 align-items-center h-100 mx-auto " method="post">
    <h1 class="text-center display-2">Personal Information</h1>

    <div class="col-6">
        {{ form.name | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.email | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.phone_number | as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.photo | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.website | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.address1 | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.address2 | as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.city| as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.country| as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.zip_code| as_crispy_field }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary btn-lg class text-right">Next</button>
    </div>
    <form>

        {% endblock %}